version: 2
jobs:
  build:
    docker:
      - image: cimg/openjdk:15.0.0

    steps:
      - run: |
          curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install.sh | bash
      - checkout
      - run: ./gradlew dependencies
      - run: ./gradlew assemble
      - run: fossa analyze
      - run: ./gradlew build
      - run:
          name: Save test results
          command: |
              mkdir -p ~/test-results/junit/
              find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
              mkdir -p ~/test-results/jacoco/
              find . -type f -regex ".*/build/jacoco/.*exec" -exec cp {} ~/test-results/jacoco/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results
      - run: fossa test

  release:
    docker:
      - image: circleci/openjdk:8-jdk

    steps:
      - run: curl -vkL -o - https://github.com/intuit/auto/releases/download/v10.20.6/auto-linux.gz | gunzip > ~/auto
      - run: chmod a+x ~/auto
      - checkout
      - run: ~/auto shipit -vvv
workflows:
  version: 2
  build:
    jobs:
      - build
      - release:
          requires:
            - build
